/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

/**** body ****/

body {
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-inline: 20px;
    background-color: #f2f4f6;
}

/**** body et div container ****/

body,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** div container ****/

.container {
    max-width: 768px;
    max-width: 100%;
    padding: 30px 15px;
    border: 2px solid #00214d;
    border-radius: 8px;
    background-color: #fffffe;
    color: #00214d;
}

.title {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.counter {
    font-size: 1.8em;
    text-align: center;
    margin-block: 20px;
}

/**** div buttons ****/

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fffffe;
    font-weight: 700;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.69)
}

.add,
.subtract {
    border-radius: 50%;
}

.add {
    background-color: #00ebc7;
}

.subtract {
    background-color: #ff5470;
}

.reset {
    border-radius: 12px;
    background-color: #fde24f;
}